:root {
    --color-primary-light: white;
    --color-primary-dark: black;
    --color-primary-grey: #DCE5E2;
    --color-secondary-dark: #08090D;
    --color-secondary-light: #F8F9FA;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;